.container{
 height: 100vh;
}
.card{
 width: 380px;
 border: none;
 border-radius: 15px;
 padding: 8px;
 background-color:#ffffff;
 position: relative;

 margin-left: auto;
 margin-right: auto;
}
.upper{
 height: 100px;
 
}
.upper img{
 width: 100%;
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.user{
 position: relative;
}
.profile img{
 
 height: 80px;
 width: 80px;
 margin-top:2px;

}
.profile{
 position: absolute;
 top:-50px;
 left: 38%;
 height: 90px;
 width: 90px;
 border:3px solid #fff;
 background-image: url('../img/user.png');
 border-radius: 50%;
}
.follow{
 border-radius: 15px;
 padding-left: 20px;
 padding-right: 20px;
 height: 35px;
}
.stats span{
 font-size: 29px;
}
.rounded{
font-size: 83px;
padding-top: 3px;
}
.hello{
       font-weight: 500;
}

.linkdin{
       font-size: 25px;
       color :  #0a66c2
}
.q-details{
       display: flex;
       text-align: center;
}
.stats{
       text-align: center;
}

.q-details div{
       margin: auto;

}
.q-details{
       font-size: 18px;
}
.mb-17px{
       margin-bottom: 17px;
}
.br-15{
       border-radius: 15px;
}