*{
    margin : 0;
    padding: 0;

}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.home{
    display: flex;
}
.home-section-1{
    width: 60%;
    align-items: center;
    height: 500px;
    text-align: center;
    padding-top: 200px;
}
.home-section-1 h1{
    font-size:40px;
    font-weight: 600;
}
.home-section-1 p{
    font-size:20px;
    /* font-weight: 300; */
}
.home-section-1 button a{
    color: white;
}
.home-section-1 button{
    font-size:22px;
    font-weight: 500;
    background-color:  #b061df;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 8px;
}
.home-section-1 button:hover{
    background-color: #242c37;
    /* color: #242c37; */
    transition-duration: .8s;
}
.homw-section-2{
    width: 40%;
    text-align: center;
    align-items: center;
    margin-top: 0px;
}